
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #292f45;
}

  
    /*  ///////////////////기기별사이즈 ///////////////////          */
  

  @media screen and (max-width: 1024px) {
    
}
  /* 테블릿 */
  @media screen and (max-width: 768px) {}
    
   /* 모바일 */
  @media (min-width: 320px) and (max-width: 480px) {
    
    }
  